<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head th:replace="~{fragmentos/head::head}">
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>



	<nav th:replace="~{fragmentos/navBar::encabezado}"></nav>

	<main>
		<form class="d-flex">


			<div class="mt-5 pt-5 container-fluid row mr-0 pr-0 " data-aos="flip-right">
				<div class="col-12 col-lg-4 my-3 mr-0 pr-0 ">
					<div class="card shadow-sm mr-0 pr-0">
						<img th:src="${not (#strings.isEmpty(manga.urlPortada))} 
								              ? ${manga.urlPortada} : 'http://placehold.it/48x48'" class="img-responsive icono-categoria"
							alt="imagen1" />
					</div>
				</div>
				<div class="col-12 col-lg-8 my-3 mr-0 pr-0">
					<div class="card shadow-sm p-2 mr-0">
						<h2 class="p-2" th:text="${manga.nombre}">nombre</h2>
						<p class="separador2 px-2" id="descrip" th:text="${manga.descripcion}">descripcion</p>
						<p th:text="${manga.nombre}" class="sep4 px-2">categoria</p>
						<p class="px-2"><span id="prec" th:text="${manga.precio}">precio</span> €</p>
						<p id="total"> </p>

						<div class="btn-group">
							<button type="button" class="btn btn-sm btn-success m-2">Añadir al carrito</button>
							<div sec:authorize="hasRole('ROLE_ADMIN')">
								<a th:href="@{/editar/{id}(id=${manga.id})}"><button type="button"
										class="btn btn-sm btn-danger m-2">Eliminar</button></a>
								<a th:href="@{/editar/{id}(id=${manga.id})}"><button type="button"
										class="btn btn-sm btn-primary m-2">Editar</button></a>

							</div>
						</div>
					</div>
				</div>


				<script> AOS.init();</script>
				<footer th:replace="~{fragmentos/piePagina::pie}"></footer>
</body>

</html>