<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Página Web de venta de mangas">
	<meta name="keywords" content="HTML, CSS, JavaScript">
	<meta name="author" content="Arturo Céspedes Pedrazas">
	
</head>

<body>
	<header th:fragment= "header">
	<div class="offcanvas offcanvas-start" id="demo">
			<div class="offcanvas-header">
				<h1 class="offcanvas-title">Heading</h1>
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
			</div>
			<div class="offcanvas-body">
				<p>Some text lorem ipsum.</p>
				<p>Some text lorem ipsum.</p>
				<button class="btn btn-secondary" type="button">A Button</button>
			</div>
		</div>
	</header>

</body>

</html>