<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>


<body>


	<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top" th:fragment="encabezado">
		<div class="container-fluid">
			<a class="navbar-brand" th:href=@{/manga}> <img th:src="@{/logo.png}" width="100px" alt="Logo oficial"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto text-light">
					<li class="nav-item">
						<a class="nav-link text-light" th:href="@{/manga}">ANIMANGA </a>
					</li>
					<li class="nav-item text-light">
						<a class="nav-link text-light" th:href="@{/mangaka/mangakas}">MANGAKAS</a>
					</li>

						<div class="dropdown">

							<button type="button"
								class="btn btn-primary dropdown-toggle bg-dark border border-dark text-light"
								data-bs-toggle="dropdown">
								CATEGORÍAS
							</button>
							<ul class="dropdown-menu bg-dark text-light">
								<th:block th:each="categoria : ${categorias}">
									<a class="dropdown-item text-light"
									
										th:href="@{/manga/categoria/{id}(id=${categoria.id})}"
										th:text="${categoria.nombre}"></a>
								</th:block>
							</ul>
						</div>
						<li class="nav-item text-light">
						<a class="nav-link text-light" th:href="@{/destacados}">MÁS VISTOS</a>
					</li>

				</ul>
					<div class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">

							<button type="button"
								class="btn btn-primary dropdown-toggle bg-dark border border-dark text-light"
								data-bs-toggle="dropdown">
								AÑADIR
							</button>
							<ul class="dropdown-menu bg-dark text-light">
								
									<a class="dropdown-item text-light"
										th:href="@{/form}">Mangas</a>
										<a class="dropdown-item text-light"
										th:href="@{/mangaka/form}">Mangakas</a>
										<a class="dropdown-item text-light"
										th:href="@{/categoria/form}">Categorias</a>
										
										
							
							</ul>
						</div>
						<div class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">

							<button type="button"
								class="btn btn-primary dropdown-toggle bg-dark border border-dark text-light"
								data-bs-toggle="dropdown">
								OPCIONES
							</button>
							<ul class="dropdown-menu bg-dark text-light">
						
										<a class="dropdown-item text-light"
										th:href="@{/lista}">Mangas</a>
										<a class="dropdown-item text-light"
										th:href="@{/categoria/gestionCategoria}">Categorias</a>
											<a class="dropdown-item text-light"
										th:href="@{/mangaka/lista}">Mangakas</a>
										
							
							</ul>
						</div>
			
				<form class="d-flex">

					<input class="form-control me-2 " type="text-muted" name="q" th:value="${param.q}"
						placeholder="Buscar..."
						onchange="window.location.href='http://localhost:9000/?q=' + this.value">
					<button class="btn bot" type="button">BUSCAR</button>
				</form>
				<div class="nav-item">

					<a class="nav-link text-light" th:href="@{/login}" sec:authorize="!isAuthenticated()"> <button
							class="btn bot" type="button">INICIAR
							SESIÓN</button></a>
					<a class="nav-link text-light" th:href="@{/logout}" sec:authorize="isAuthenticated()"> <button
							class="btn bot" type="button">CERRAR SESIÓN</button></a>

				</div>
			</div>
		</div>
	</nav>

</body>

</html>